#profile {
    padding-top: 10%;
}

.social a {
    font-size: 48px;
    color: black;
    padding: 10px;

 }

 .social a:hover {
     text-decoration: none;
     -webkit-transition: color 0.2s linear;
     -moz-transition: color 0.2s linear;
     -ms-transition: color 0.2s linear;
     -o-transition: color 0.2s linear;
     transition: color 0.2s linear;
 }

 .social a:focus {
     text-decoration: none;
     color: black;
 }

 /* Hover colors for social media buttons */

 .fa-facebook:hover {
     color: #3b5998;
 }

 .fa-linkedin:hover {
     color: #0077B5;
 }

 .fa-google-plus:hover {
     color: #d34836;
 }

 .fa-envelope:hover {
     color: gray;
 }

 .fa-ravelry:hover {
     color: #ac0039;
 }

 .resume * {
     display: inline-block;
 }