#profile {
    padding-top: 10%;
}

.social a {
    font-size: 48px;
    color: black;
 }

 .social a:hover {
     text-decoration: none;
     -webkit-transition: color 0.2s linear;
     -moz-transition: color 0.2s linear;
     -ms-transition: color 0.2s linear;
     -o-transition: color 0.2s linear;
     transition: color 0.2s linear;
 }

 .social a:focus {
     text-decoration: none;
     color: black;
 }

 /* Hover colors for social media buttons */

 .icon-facebook-square:hover {
     color: #3b5998;
 }

 .icon-linkedin-square:hover {
     color: #0077B5;
 }

 .icon-google-plus-square:hover {
     color: #d34836;
 }

 .icon-envelope:hover {
     color: gray;
 }

 .resume * {
     display: inline-block;
 }