@import "./constants.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@include media-breakpoint-down(sm) {
  .card-body > .card-text {
    font-size: 2.5rem;
  }

  .card-body > svg {
    width: 20px;
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .card-body > .card-text {
    font-size: 1.5rem;
  }

  .card-body > svg {
    width: 40px;
    height: auto;
  }
}

@include media-breakpoint-up(lg) {
  .card-body > .card-text {
    font-size: 2rem;
  }

  .card-body > svg {
    width: 40px;
    height: auto;
  }
}