$primary: #49745c;
$secondary: #444;

$theme-colors: (
    "primary": #49745c,
    "secondary": #444
);

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";